body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.header__title {
  font-size: 36px;
  color: #2d774e;
}

.header__logo {
  max-width: 200px;
}

.nav {
  background-color: #2d774e;
  text-align: center;
  padding: 10px 0;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline;
  margin-right: 20px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #ffc107;
}

.section {
  padding: 40px 20px;
  margin: 40px 0;
}

.section__title {
  border-bottom: 2px solid #2d774e;
  padding-bottom: 10px;
  font-size: 24px;
}

.section__content {
  line-height: 1.6;
}

.rsvp__label {
  display: block;
  margin-bottom: 5px;
}

.rsvp__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.rsvp__button {
  background-color: #2d774e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.rsvp__button:hover {
  background-color:#2d774e;
}

.section__link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.section__link:hover {
  color: #2d774e;
}

.footer {
  background-color: #2d774e;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.countdown {
  font-size: 24px;
  text-align: center;
}

.countdown__container {
  text-align: center;
  margin-top: 30px;
}

.countdown__title {
  font-size: 28px;
  color:#2d774e;
  margin-bottom: 10px;
}

.countdown {
  font-size: 36px;
  color: #2d774e;
  font-weight: bold;
}


.rsvp__button {
  background-color: #2d774e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rsvp__button:hover {
  background-color: #2d774e;;
}


